@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <meta http-equiv="refresh" content="7; url=./ExternalLogin" />
</head>
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use one of the services to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
